body {
  background-color: rgba(0, 0, 0, 0.72);
}
header {
  nav {
    ul {
      li {
        a {
          color: black;
          text-decoration: none;

          // behavior of the client is a pseudo-class
          &:hover {
            background-color: green;
          }
        }
      }
    }
  }
}
