* {
  margin: 200;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
/* :checked + label {
  color: red;
  border: 5px solid red;
 
} */

[type="radio"] {
  width: 25px;
  height: 25px;
}
input[type="radio"]:checked {
  box-shadow: 10 5 5 15px orange;
}

input:default {
  box-shadow: 0 0 2px 1px coral;
}

input:default + label {
  color: coral;
}
