/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("./color.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Telivigala", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
}
/* form */
form {
  margin: 10% 5%;
  width: 55%;
  height: 60%;
}
fieldset {
  border-radius: 8%;
  background-color: #d5e5f2;
}

fieldset:hover {
  transition: 0.3s;
}
fieldset input,
select {
  margin: 2vh auto;
  display: block;
  width: 40%;
  background-color: transparent;
  border-radius: 2%;
  border: none;
  border-bottom: 2px gray solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--my-fav);
}
fieldset input:focus,
select:focus {
  outline: none;
  border-bottom: 2px #f25252 solid;
}
/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  /* border: 2px red dashed; */
  margin-left: 2rem;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: 2px yellowgreen dashed; */
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5rem;
  transition: 0.2s;
}
.slider::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0.2rem;
  bottom: 0.45rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
}
/* font-awesome */
i {
  font-size: 3rem;
  color: var(--orange-is-my-fav);

  /* box-shadow: 0 4px 4px 4px yellowgreen; */
}

input:checked + .slider {
  background-color: rgba(16, 181, 151, 0.852);
  box-shadow: 0 0 3px 3px rgba(120, 232, 164, 0.852);
}

input:checked + .slider::before {
  transform: translateX(2.5rem);
  box-shadow: 0 0 3px 5px rgba(120, 232, 164, 0.852);
}
