/* menu */

header {
  grid-area: menu;
  display: flex;
}
.navbar {
  background-color: #8ebabf;
  grid-area: menu;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  position: relative;
  width: 100vw;
  height: 8vh;
}
a {
  text-decoration: none;
  color: white;
}
.list-item {
  list-style: none;
  font-size: 1rem;
  color: 0.5rem;
  background-color: #c9eef2;
}
.navbar {
  width: 100%;
}
.subnav {
  width: 50%;
  display: flex;
  justify-content: center;
}
.subnavbtn {
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1%;
}
.subnav-content {
  display: none;
}
/* when hover on the name of the menu will open the list */
/* /* dropdown menu  */
.subnav:hover .subnav-content {
  display: block;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 100%;
  width: 28%;
}
.list-item {
  text-align: center;
  padding: 1% 2%;
}
.list-item:hover {
  background-color: lightgray;
  color: #cef09d;
  transition: all 0.5 ease-in;
}
/* fancy shapes */
header::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  background-color: #1b3c40;
  width: 55%;
  height: 35%;
  border-radius: 50% 10% 10% 55%;
  z-index: -1;
  transform: rotate(-90deg);
}
header::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 50%;
  height: 50%;
  background-color: #639fa6;
  border-radius: 50% 10% 10% 55%;
  transform: rotate(90deg);
  z-index: -2;
}
