* {
  margin: 200;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
:checked + label {
  color: red;
}
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px orange;
}

input:default {
  box-shadow: 0 0 2px 1px coral;
}

input:default + label {
  color: coral;
}
