body {
  background-color: orange;
}
header {
<<<<<<< HEAD
  span {
    background-color: black;
    border-radius: 50%;
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    li {
      list-style: none;
      border: 2px black dashed;
      width: 15%;
      background-color: red;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: whitesmoke;
          background-color: gray;
=======
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50vw;
      li {
        list-style: none;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            background-color: gray;
          }
          &:active {
          }
>>>>>>> 871edc653327dcdb667b0c10a7557c179a17b03e
        }
      }
    }
  }
}
