/*  Main   */
.main-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container article {
  width: 80%;
  height: 75vh;
  border: 2px red dashed;
}
.shape {
  width: 50%;
  height: 40%;
  border-radius: 100% 10%;
  transform: rotate(60deg);
  opacity: 0.8;
  background-color: var(--company-them-logo-color);
}
