$xs-font-size: 12px;
$sm-font-size: 14px;
// hard coded - value are set
@mixin header-font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
@mixin box-sizing($width, $height, $bg) {
  height: $height;
  width: $width;
  background-color: $bg;
  border-radius: 50%;
}
@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  $align-items: $align;
}
// menu setups
@mixin menu-setup {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
