p {
  color: green;
  letter-spacing: center;
}
/* Font formatting */
h1 {
  letter-spacing: 10px;
  text-align: center;
}
p {
  color: rgb(81, 245, 66);
  /* letter-spacing: 10px */
  word-spacing: 10px;
  line-height: 30px;
  text-align: center;
  text-transform: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.2rem;
  /* 
  1 rem * root 
  1 em * parent
  */
  font-size: 1em;
}
