:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shapes div {
  width: 9rem;
  height: 9rem;
  display: inline-block;
  border: 2px black solid;
  margin-left: 3rem;
  margin-left: 5rem;
}
#rectangle {
  height: 12rem;
  width: 5rem;
  background-color: lightblue;
}

#triangle {
  height: 0;
  width: 0;
  border-top: 150px solid white;
  border-left: 150px solid transparent;
  border-right: none;
  border-bottom-style: 2px solid black;
  border-left-style: 2px solid black;
  background-color: purple;
  position: relative;
}
/* clip-path: polygon(0 45%, 0% 100%, 100% 100%); */
/* #rotated {
  width: 15em;
  height: 7rem;
  position: absolute;
  background-color: white;
  transform: translateX(22.9rem) rotate(31.7deg);
  bottom: -5.4rem;
  right: 7rem;
  border-top: none;
  border-left: none;
  border-right: none;
}
#black {
  height: 0;
  width: 0;
  position: absolute;
  background-color: transparent;
  border-bottom: 2px solid black;
  border-left: 2px solid black;

  /* clip-path: polygon(0 45%, 100% 45%, 100% 100%); */
* #square {
  background-color: green;
}
#circle {
  background-color: yellow;
  border-radius: 50%;
}
