:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  text-align: center;
}
#rectangle {
  height: 200px;
  width: 100px;
  background-color: blue;
}
#triangle {
  height: 0px;
  width: 0px;
  border-top: 150px solid white;
  border-left: 150px solid transparent;
  background-color: purple;
}
#square {
  height: 150px;
  width: 150px;
  background-color: green;
}
#circle {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 70%;
}
