:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shapes div {
  width: 9rem;
  height: 9rem;
  display: inline-block;
  border: 2px black solid;
  margin-left: 3rem;
}
#rectangle {
  height: 200px;
  width: 100px;
  background-color: lightblue;
}

#triangle {
  height: 0px;
  width: 0px;
  border-top: 175px solid white;
  border-left: 175px solid transparent;
  background-color: purple;
}
#square {
  height: 150px;
  width: 150px;
  background-color: green;
}
#circle {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 70%;
}
