header .logo {
  border: 2px red solid;
  border: 20%;
  color: red;
  width: 2.5rem;
  height: 1.5rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1%;
}
