/* reset css */
@import url("./normalize.css");
@import url("./menu.css");
@import url("./main.css");
@import url("./footer.css");
@import url("./var.css");
@import url("./basic.setup.css");
@import url("./logo.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh repeat(4, 50vh);
  grid-template-areas:
    "menu"
    "main"
    "slide"
    "card"
    "footer";
}
