/* * {
  background-color: black;
}
table,
tr,
td {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  border: -0.5 solid black;
  border-spacing: 0;
}
.black {
}
.white {
  background-color: white;
} */

/* without class */
table tr td {
  width: 75px;
  height: 75px;
  border-spacing: 0;
  border: 1px solid black;
}

table tr:nth-child(odd) td:nth-child(even) {
  background: black;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: black;
}
